In [193]:
# imports
import pandas as pd
import math
import numpy as np

# read in training data
train = pd.read_csv('train.csv')

# read in test data
test = pd.read_csv('test.csv')

train.head(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500

In [194]:
# extract y=SalePrice from training data
prices = train['SalePrice']
train = train.drop('SalePrice', axis=1)

In [195]:
# import linear regression model
from sklearn import linear_model
reg = linear_model.LinearRegression()

# import random forest model
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

# mod.fit(X, y)
# mod.score(X, y)
# mod.predict(test)

In [196]:
# import plot libraray
import matplotlib.pyplot as plt

# predictions = reg.predict(train[['LotArea', 'YrSold', 'MSSubClass']])
# plt.scatter(predictions, prices)
# plt.xlabel("predicted")
# plt.ylabel("actual")
# plt.title("linear regression prices")
# plt.show()

**method to create submissions:**

submission = pd.DataFrame({
        "Id": test["Id"],
        "SalePrice": predictions
    })
results = submission.to_csv("results1.csv",index=False)

In [197]:
# info on training set
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 80 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
dtypes: float64(3), int64(34), object(43)
memory usage: 912.6+ KB

In [198]:
# create dataframes with columns we want to test
# First look at all factors where values are numeric and no null data is present
#train_df = train[['MSSubClass', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'BsmtFinSF1'\
#                 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea',\
#                 'BsmtFullBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', \
#                 'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', \
#                 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold']]

# Descide which might be most relavant
# Area, overall quality and condition, age, remodal, total numer of bathrooms, total number of half bathrooms,
# number of kitchens, number of beadrooms garage area, garage number of cars, pool area, Month and year sold

# start with factors that don't need manipulation:
train_df = train[['MSSubClass', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'KitchenAbvGr',\
                 'BedroomAbvGr', 'GarageCars', 'GarageArea', 'PoolArea', 'MoSold', 'YrSold', 'MiscVal']]

test_df = test[['MSSubClass', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'KitchenAbvGr',\
                 'BedroomAbvGr', 'GarageCars', 'GarageArea', 'PoolArea', 'MoSold', 'YrSold', 'MiscVal']]

In [199]:
# total number of bathrooms and total number of half bathrooms
def bath_sum(df, orig):
    df['TotBath'] = orig['BsmtFullBath'] + orig['FullBath']
    df['TotHalfBath'] = orig['BsmtHalfBath'] + orig['HalfBath']
    return df

In [200]:
bath_sum(train_df, train)
bath_sum(test_df, test)
test_df.head(3)

/home/catherine/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/catherine/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,KitchenAbvGr,BedroomAbvGr,GarageCars,GarageArea,PoolArea,MoSold,YrSold,MiscVal,TotBath,TotHalfBath
0,20,11622,5,6,1961,1961,1,2,1.0,730.0,0,6,2010,0,1.0,0.0
1,20,14267,6,6,1958,1958,1,3,1.0,312.0,0,6,2010,12500,1.0,1.0
2,60,13830,5,5,1997,1998,1,3,2.0,482.0,0,3,2010,0,2.0,1.0

In [201]:
# test to see how model is performing
reg.fit(train_df, prices)
print(reg.score(train_df, prices))

model.fit(train_df, prices)
print(model.score(train_df, prices))

0.744214791671
0.962145385445

In [202]:
# lot frontage may be important
# for those without data, assume frontage is sqrt of area
def process_LotFrontage(df, orig):
    df['LotFrontage'] = orig.apply(
        lambda r : math.sqrt(r['LotArea'])\
        if pd.isnull(r['LotFrontage'])\
        else r.LotFrontage, axis=1
    )
    return df

In [203]:
train_df = process_LotFrontage(train_df, train)
test_df = process_LotFrontage(test_df, test)

/home/catherine/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [204]:
# check if test data has any null values with columns currently in use
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 17 columns):
MSSubClass      1459 non-null int64
LotArea         1459 non-null int64
OverallQual     1459 non-null int64
OverallCond     1459 non-null int64
YearBuilt       1459 non-null int64
YearRemodAdd    1459 non-null int64
KitchenAbvGr    1459 non-null int64
BedroomAbvGr    1459 non-null int64
GarageCars      1458 non-null float64
GarageArea      1458 non-null float64
PoolArea        1459 non-null int64
MoSold          1459 non-null int64
YrSold          1459 non-null int64
MiscVal         1459 non-null int64
TotBath         1457 non-null float64
TotHalfBath     1457 non-null float64
LotFrontage     1459 non-null float64
dtypes: float64(5), int64(12)
memory usage: 193.8 KB

In [205]:
# need to handle nulls in GarageCars, GarageArea, TotFullBath and TotHalfBath
# assume if GarageArea and GarageCars is null that there is no garage
test_df.GarageCars = test_df.GarageCars.fillna(0)
test_df.GarageArea = test_df.GarageArea.fillna(0)

# if Bathroom related data is null, just use non-basement value
test_df.TotBath = test_df.TotBath.fillna(test['FullBath'])
test_df.TotHalfBath = test.BsmtHalfBath.fillna(test['HalfBath'])

In [206]:
# lot shape. Reg:0,IRL1:1,IR2:2,IR3:3
descriptor_LotShape = {
    'Reg': 0, 'IR1': 1, 'IR2': 2, 'IR3': 3 
}

def process_LotShape(df,orig):
    df['LotShape'] = orig['LotShape'].map(
        descriptor_LotShape 
    )
    return df

In [207]:
process_LotShape(train_df,train)
process_LotShape(test_df,test)
train_df.head()

/home/catherine/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,KitchenAbvGr,BedroomAbvGr,GarageCars,GarageArea,PoolArea,MoSold,YrSold,MiscVal,TotBath,TotHalfBath,LotFrontage,LotShape
0,60,8450,7,5,2003,2003,1,3,2,548,0,2,2008,0,3,1,65.0,0
1,20,9600,6,8,1976,1976,1,3,2,460,0,5,2007,0,2,1,80.0,0
2,60,11250,7,5,2001,2002,1,3,2,608,0,9,2008,0,3,1,68.0,1
3,70,9550,7,5,1915,1970,1,3,3,642,0,2,2006,0,2,0,60.0,1
4,60,14260,8,5,2000,2000,1,4,3,836,0,12,2008,0,3,1,84.0,1

In [208]:
# now look at neighborhoods
train.Neighborhood.unique()

array(['CollgCr', 'Veenker', 'Crawfor', 'NoRidge', 'Mitchel', 'Somerst',
       'NWAmes', 'OldTown', 'BrkSide', 'Sawyer', 'NridgHt', 'NAmes',
       'SawyerW', 'IDOTRR', 'MeadowV', 'Edwards', 'Timber', 'Gilbert',
       'StoneBr', 'ClearCr', 'NPkVill', 'Blmngtn', 'BrDale', 'SWISU',
       'Blueste'], dtype=object)

In [247]:
neighborhoods = train.Neighborhood.unique()
neighborhoods = neighborhoods.tolist()

def process_Neighborhood(df,orig):
    for i in neighborhoods:
        df[i] = orig.apply(
            lambda r : 1\
            if r.Neighborhood==i \
            else 0, axis=1
        )
    return df

In [210]:
process_Neighborhood(train_df,train)
process_Neighborhood(test_df,test)
train.head()

/home/catherine/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

In [211]:
# test to see how model is performing
reg.fit(train_df, prices)
print(reg.score(train_df, prices))

model.fit(train_df, prices)
print(model.score(train_df, prices))

0.801943424316
0.95371609011

In [212]:
# try using Random Forest Reg to predict test
predictions = model.predict(test_df)

submission = pd.DataFrame({ "Id": test["Id"], "SalePrice": predictions }) 
results = submission.to_csv("results5.csv",index=False)

# hyperparameters/cross validation

This is an attempt to tune the parameters of the random forest

In [213]:

from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import SelectKBest
from sklearn.cross_validation import KFold
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble.gradient_boosting import GradientBoostingClassifier
from sklearn.cross_validation import cross_val_score

In [214]:
forest = RandomForestRegressor(max_features=len(train_df.columns))

parameter_grid = {
    'max_depth' : [None,1,3,9],
    'min_samples_split' : [1,2,3],
    'n_estimators' : [3,10,30,100,200,400]
}

#cross_validation = KFold(len(prices),n_folds=5)

grid_search = GridSearchCV(
    forest,
    param_grid=parameter_grid,
    #cv=cross_validation
)

grid_search.fit(train_df, prices)

print('Best score: {}'.format(grid_search.best_score_))
print('Best parameters: {}'.format(grid_search.best_params_))

print(grid_search.score(train_df, prices))

Best score: 0.788799089356
Best parameters: {'min_samples_split': 2, 'n_estimators': 30, 'max_depth': None}
0.973086837168

In [217]:
output = grid_search.predict(test_df)
df_output = pd.DataFrame()
df_output['Id'] = test['Id']
df_output['SalePrice'] = output
df_output[['Id', 'SalePrice']].to_csv('results6.csv', index=False)

In [218]:
# now try with cross validation as well

forest = RandomForestRegressor(max_features=len(train_df.columns))

parameter_grid = {
    'max_depth' : [None,1,3,9],
    'min_samples_split' : [1,2,3],
    'n_estimators' : [3,10,30,100,200,400]
}

cross_validation = KFold(len(prices),n_folds=5)

grid_search = GridSearchCV(
    forest,
    param_grid=parameter_grid,
    cv=cross_validation
)

grid_search.fit(train_df, prices)

print('Best score: {}'.format(grid_search.best_score_))
print('Best parameters: {}'.format(grid_search.best_params_))

print(grid_search.score(train_df, prices))

Best score: 0.808231265764
Best parameters: {'min_samples_split': 2, 'n_estimators': 200, 'max_depth': None}
0.973583953806

In [219]:
output = grid_search.predict(test_df)
df_output = pd.DataFrame()
df_output['Id'] = test['Id']
df_output['SalePrice'] = output
df_output[['Id', 'SalePrice']].to_csv('results7.csv', index=False)

In [220]:
# time to add some other features

# total porch/deck area

def process_Deck(df,orig):
    df['Deck'] = orig['WoodDeckSF'] \
    + orig['OpenPorchSF'] + orig['EnclosedPorch']\
    + orig['3SsnPorch'] + orig['ScreenPorch']
    return df
    
    #test_df.GarageCars = test_df.GarageCars.fillna(0)

In [221]:
process_Deck(train_df, train)
process_Deck(test_df, test)

test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 44 columns):
MSSubClass      1459 non-null int64
LotArea         1459 non-null int64
OverallQual     1459 non-null int64
OverallCond     1459 non-null int64
YearBuilt       1459 non-null int64
YearRemodAdd    1459 non-null int64
KitchenAbvGr    1459 non-null int64
BedroomAbvGr    1459 non-null int64
GarageCars      1459 non-null float64
GarageArea      1459 non-null float64
PoolArea        1459 non-null int64
MoSold          1459 non-null int64
YrSold          1459 non-null int64
MiscVal         1459 non-null int64
TotBath         1459 non-null float64
TotHalfBath     1459 non-null float64
LotFrontage     1459 non-null float64
LotShape        1459 non-null int64
CollgCr         1459 non-null int64
Veenker         1459 non-null int64
Crawfor         1459 non-null int64
NoRidge         1459 non-null int64
Mitchel         1459 non-null int64
Somerst         1459 non-null int64
NWAmes          1459 non-null int64
OldTown         1459 non-null int64
BrkSide         1459 non-null int64
Sawyer          1459 non-null int64
NridgHt         1459 non-null int64
NAmes           1459 non-null int64
SawyerW         1459 non-null int64
IDOTRR          1459 non-null int64
MeadowV         1459 non-null int64
Edwards         1459 non-null int64
Timber          1459 non-null int64
Gilbert         1459 non-null int64
StoneBr         1459 non-null int64
ClearCr         1459 non-null int64
NPkVill         1459 non-null int64
Blmngtn         1459 non-null int64
BrDale          1459 non-null int64
SWISU           1459 non-null int64
Blueste         1459 non-null int64
Deck            1459 non-null int64
dtypes: float64(5), int64(39)
memory usage: 501.6 KB

/home/catherine/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [222]:
model.fit(train_df,prices)
print(model.score(train_df,prices))

0.965911550789

**Gradient boosted tree**

Try to model on gradient boosted tree - possibly reduce ovefit

In [223]:
from sklearn.ensemble import GradientBoostingRegressor

gbr = GradientBoostingRegressor()

parameter_grid = {
    'max_depth':[None,4,5,6,7,8],
    'n-estimators':[10,100,200,400,800]
}

cross_validation = KFold(len(prices), n_folds=5)

grid_serach = GridSearchCV(
    gbr,
    param_grid=parameter_grid,
    cv=cross_validation
)

grid_search.fit(train_df,prices)

print('Best score: {}'.format(grid_search.best_score_))
print('Best parameters: {}'.format(grid_search.best_params_))

Best score: 0.8122666194
Best parameters: {'min_samples_split': 3, 'n_estimators': 400, 'max_depth': None}

In [225]:
grid_search.score(train_df, prices)

0.97352792843411073

In [226]:
output = grid_search.predict(test_df)
df_output = pd.DataFrame()
df_output['Id'] = test['Id']
df_output['SalePrice'] = output
df_output[['Id', 'SalePrice']].to_csv('results8.csv', index=False)

didn't do as well on test data

now try and add all the features and use cross validated random trees

In [227]:
# function to take object data and convert to numbers

def process_objectCols(column_names, df, orig):
    for name in column_names:
        #use dummy encoding
        column_dummies = pd.get_dummies(orig[name],prefix=name)
        df = pd.concat([df,column_dummies],axis=1)
    return df

In [228]:
column_names = ['MSZoning', 'Street', 'LotShape', 'LandContour',\
               'Utilities', 'LotConfig','LandSlope','BldgType',\
               'HouseStyle']

In [229]:
process_objectCols(column_names,train_df,train)
process_objectCols(column_names,train_df,train)
train_df.head()

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,KitchenAbvGr,BedroomAbvGr,GarageCars,GarageArea,...,Timber,Gilbert,StoneBr,ClearCr,NPkVill,Blmngtn,BrDale,SWISU,Blueste,Deck
0,60,8450,7,5,2003,2003,1,3,2,548,...,0,0,0,0,0,0,0,0,0,61
1,20,9600,6,8,1976,1976,1,3,2,460,...,0,0,0,0,0,0,0,0,0,298
2,60,11250,7,5,2001,2002,1,3,2,608,...,0,0,0,0,0,0,0,0,0,42
3,70,9550,7,5,1915,1970,1,3,3,642,...,0,0,0,0,0,0,0,0,0,307
4,60,14260,8,5,2000,2000,1,4,3,836,...,0,0,0,0,0,0,0,0,0,276

In [232]:
# see how model is doing
forest = RandomForestRegressor(max_features=len(train_df.columns))

parameter_grid = {
    'max_depth' : [None,1,3,9],
    'min_samples_split' : [1,2,3],
    'n_estimators' : [3,10,30,100,200,400,800]
}

cross_validation = KFold(len(prices),n_folds=5)

grid_search = GridSearchCV(
    forest,
    param_grid=parameter_grid,
    cv=cross_validation
)

grid_search.fit(train_df, prices)

print('Best score: {}'.format(grid_search.best_score_))
print('Best parameters: {}'.format(grid_search.best_params_))

print(grid_search.score(train_df, prices))

Best score: 0.818691160789
Best parameters: {'min_samples_split': 1, 'n_estimators': 30, 'max_depth': None}
0.971405014472

In [233]:
output = grid_search.predict(test_df)
df_output = pd.DataFrame()
df_output['Id'] = test['Id']
df_output['SalePrice'] = output
df_output[['Id', 'SalePrice']].to_csv('results9.csv', index=False)

In [234]:
num_fea = ["BsmtFinSF1", "BsmtFinSF2", "BsmtUnfSF",\
          "1stFlrSF", "2ndFlrSF", "LowQualFinSF",\
           "GrLivArea", "TotRmsAbvGrd", "Fireplaces"]

In [238]:
def process_Numeric(numeric_features,df,orig):
    for fea in numeric_features:
        df[fea] = orig[fea]
    return df

In [239]:
process_Numeric(num_fea,train_df,train)
process_Numeric(num_fea,test_df,test)
train_df.head()

/home/catherine/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,KitchenAbvGr,BedroomAbvGr,GarageCars,GarageArea,...,Deck,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,TotRmsAbvGrd,Fireplaces
0,60,8450,7,5,2003,2003,1,3,2,548,...,61,706,0,150,856,854,0,1710,8,0
1,20,9600,6,8,1976,1976,1,3,2,460,...,298,978,0,284,1262,0,0,1262,6,1
2,60,11250,7,5,2001,2002,1,3,2,608,...,42,486,0,434,920,866,0,1786,6,1
3,70,9550,7,5,1915,1970,1,3,3,642,...,307,216,0,540,961,756,0,1717,7,1
4,60,14260,8,5,2000,2000,1,4,3,836,...,276,655,0,490,1145,1053,0,2198,9,1

In [240]:
# see how model is doing
forest = RandomForestRegressor(max_features=len(train_df.columns))

parameter_grid = {
    'max_depth' : [None,1,3,9],
    'min_samples_split' : [1,2,3],
    'n_estimators' : [3,10,30,100,200,400,800]
}

cross_validation = KFold(len(prices),n_folds=5)

grid_search = GridSearchCV(
    forest,
    param_grid=parameter_grid,
    cv=cross_validation
)

grid_search.fit(train_df, prices)

print('Best score: {}'.format(grid_search.best_score_))
print('Best parameters: {}'.format(grid_search.best_params_))

print(grid_search.score(train_df, prices))

Best score: 0.862264124713
Best parameters: {'min_samples_split': 2, 'n_estimators': 200, 'max_depth': None}
0.982247731543

In [244]:
#test.info()
test_df.BsmtFinSF1 = test_df.BsmtFinSF1.fillna(0)
test_df.BsmtFinSF2 = test_df.BsmtFinSF2.fillna(0)
test_df.BsmtUnfSF = test_df.BsmtUnfSF.fillna(0)

In [245]:
output = grid_search.predict(test_df)
df_output = pd.DataFrame()
df_output['Id'] = test['Id']
df_output['SalePrice'] = output
df_output[['Id', 'SalePrice']].to_csv('results10.csv', index=False)

that seemed to work well.....try adding all the other features?

In [251]:
# features which could be numeric:
# ExterQual: Po:0, Fa:1,TA:2, Gd:3, Ex:4
# ExterCond: Po:0, Fa:1, TA:2, Gd:3, Ex:4
# HeatingQC: Po:0, Fa:1, TA:2, Gd:3, Ex:4
# KitchenQual: Po:0, Fa:1, TA:2, Gd:3, Ex:4

quality = {'Po':0, 'Fa':1, 'TA':2, 'Gd': 3, 'Ex': 4}
qual_fea = ['ExterQual',"ExterCond","HeatingQC", "KitchenQual"]

def process_Quality(qual_fea,df,orig):
    for fea in qual_fea:
        df[fea] = orig[fea].map(quality)
    return df

# CentralAir: N:0, Y:1
def process_CentralAir(df,orig):
    df['CentralAir'] = orig.apply(
            lambda r : 1\
            if r.CentralAir=='Y' \
            else 0, axis=1
        )
    return df

In [252]:
process_Quality(qual_fea,train_df,train)
process_Quality(qual_fea,test_df,test)

process_CentralAir(train_df,train)
process_CentralAir(test_df,test)

/home/catherine/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/catherine/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,KitchenAbvGr,BedroomAbvGr,GarageCars,GarageArea,...,2ndFlrSF,LowQualFinSF,GrLivArea,TotRmsAbvGrd,Fireplaces,ExterQual,ExterCond,HeatingQC,KitchenQual,CentralAir
0,20,11622,5,6,1961,1961,1,2,1.0,730.0,...,0,0,896,5,0,2,2,2,2.0,1
1,20,14267,6,6,1958,1958,1,3,1.0,312.0,...,0,0,1329,6,0,2,2,2,3.0,1
2,60,13830,5,5,1997,1998,1,3,2.0,482.0,...,701,0,1629,6,1,2,2,3,2.0,1
3,60,9978,6,6,1998,1998,1,3,2.0,470.0,...,678,0,1604,7,1,2,2,4,3.0,1
4,120,5005,8,5,1992,1992,1,2,2.0,506.0,...,0,0,1280,5,0,3,2,4,3.0,1
5,60,10000,6,5,1993,1994,1,3,2.0,440.0,...,892,0,1655,7,1,2,2,3,2.0,1
6,20,7980,6,7,1992,2007,1,3,2.0,420.0,...,0,0,1187,6,0,2,3,4,2.0,1
7,60,8402,6,5,1998,1998,1,3,2.0,393.0,...,676,0,1465,7,1,2,2,3,2.0,1
8,20,10176,7,5,1990,1990,1,2,2.0,506.0,...,0,0,1341,5,1,2,2,3,3.0,1
9,20,8400,4,5,1970,1970,1,2,2.0,525.0,...,0,0,882,4,0,2,2,2,2.0,1
10,120,5858,7,5,1999,1999,1,2,2.0,511.0,...,0,0,1337,5,1,3,2,4,3.0,1
11,160,1680,6,5,1971,1971,1,2,1.0,264.0,...,504,0,987,5,0,2,2,2,2.0,1
12,160,1680,5,5,1971,1971,1,3,1.0,320.0,...,567,0,1092,6,0,2,2,2,2.0,1
13,160,2280,6,6,1975,1975,1,3,2.0,440.0,...,601,0,1456,6,1,2,2,2,3.0,1
14,120,2280,7,6,1975,1975,1,2,1.0,308.0,...,0,0,836,4,0,2,2,4,2.0,1
15,60,12858,9,5,2009,2010,1,3,3.0,751.0,...,707,0,2334,10,1,4,2,4,4.0,1
16,20,12883,8,5,2009,2010,1,3,3.0,868.0,...,0,0,1544,7,0,3,2,4,3.0,1
17,20,11520,9,5,2005,2005,1,3,3.0,730.0,...,0,0,1698,7,1,3,2,4,4.0,1
18,20,14122,8,5,2005,2006,1,3,3.0,678.0,...,0,0,1822,8,1,3,2,4,4.0,1
19,20,14300,9,5,2003,2004,1,3,3.0,958.0,...,0,0,2696,10,2,4,2,4,4.0,1
20,60,13650,8,5,2002,2002,1,3,3.0,756.0,...,563,0,2250,7,1,3,2,4,3.0,1
21,120,7132,8,5,2006,2006,1,2,2.0,484.0,...,0,0,1370,6,1,3,2,4,3.0,1
22,20,18494,6,5,2005,2005,1,3,2.0,430.0,...,0,0,1324,6,0,3,2,4,3.0,1
23,120,3203,7,5,2006,2006,1,2,2.0,437.0,...,0,0,1145,6,0,3,2,4,3.0,1
24,80,13300,7,5,2004,2004,1,3,2.0,400.0,...,630,0,1374,7,1,3,2,4,3.0,1
25,60,8577,7,5,2004,2004,1,3,2.0,433.0,...,886,0,1733,7,1,3,2,4,3.0,1
26,60,17433,8,5,1998,1998,1,4,3.0,962.0,...,830,0,2475,7,1,3,2,4,3.0,1
27,20,8987,8,5,2005,2006,1,2,3.0,880.0,...,0,0,1595,6,1,3,2,4,3.0,1
28,20,9215,7,5,2009,2010,1,2,2.0,676.0,...,0,0,1218,4,0,3,2,4,3.0,1
29,20,10440,6,5,2005,2005,1,2,2.0,528.0,...,0,0,1468,6,1,3,2,4,3.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,30,7030,4,6,1925,1950,1,2,1.0,272.0,...,0,0,641,4,0,2,2,3,1.0,1
1430,50,9060,6,5,1957,1957,1,4,1.0,384.0,...,671,0,1638,6,0,2,2,3,3.0,1
1431,30,12366,3,5,1945,1950,1,2,0.0,0.0,...,0,0,729,5,0,2,2,2,2.0,0
1432,190,9000,5,6,1951,1951,2,4,0.0,0.0,...,336,0,1396,8,0,1,1,2,2.0,0
1433,50,8520,3,5,1916,1950,1,2,0.0,0.0,...,360,0,936,6,0,2,2,1,2.0,0
1434,120,5748,8,5,2005,2006,1,2,2.0,495.0,...,0,0,1778,5,1,3,2,4,4.0,1
1435,120,3842,8,5,2004,2005,1,2,2.0,525.0,...,0,0,1646,5,1,3,2,4,3.0,1
1436,20,23580,6,6,1979,1979,1,3,2.0,576.0,...,0,0,1625,6,1,2,2,2,1.0,1
1437,90,8385,6,5,1978,1978,2,4,2.0,616.0,...,0,0,1664,10,0,2,2,2,2.0,1
1438,20,9116,8,5,2001,2001,1,3,2.0,490.0,...,0,0,1491,7,0,3,2,4,3.0,1
1439,80,11080,6,6,1975,1975,1,3,2.0,528.0,...,0,0,1210,6,0,2,2,2,2.0,1
1440,20,50102,6,5,1958,1958,1,2,2.0,518.0,...,0,0,1650,6,2,2,2,2,2.0,1
1441,20,8098,6,5,2000,2000,1,2,2.0,470.0,...,0,0,1403,5,0,3,2,4,3.0,1
1442,20,13618,8,5,2005,2006,1,3,3.0,714.0,...,0,0,1960,8,2,3,2,4,3.0,1
1443,20,11577,9,5,2005,2006,1,3,3.0,682.0,...,0,0,1838,9,1,4,2,4,4.0,1
1444,20,31250,1,3,1951,1951,1,3,1.0,270.0,...,0,0,1600,6,0,2,1,2,2.0,1
1445,90,7020,7,5,1997,1997,2,2,4.0,784.0,...,0,0,1368,8,0,2,3,3,2.0,1
1446,160,2665,5,6,1977,1977,1,3,1.0,336.0,...,688,0,1304,5,1,2,2,2,2.0,1
1447,20,10172,5,7,1968,2003,1,3,1.0,288.0,...,0,0,874,5,0,2,2,4,2.0,1
1448,90,11836,5,5,1970,1970,2,4,3.0,928.0,...,0,0,1652,8,0,2,2,2,2.0,1
1449,180,1470,4,6,1970,1970,1,1,0.0,0.0,...,0,0,630,3,0,2,2,2,2.0,1
1450,160,1484,4,4,1972,1972,1,3,1.0,253.0,...,546,0,1092,5,0,2,2,2,2.0,1
1451,20,13384,5,5,1969,1979,1,3,1.0,336.0,...,0,0,1360,8,1,2,2,1,2.0,1
1452,160,1533,4,5,1970,1970,1,3,1.0,286.0,...,546,0,1092,5,0,2,2,2,2.0,1
1453,160,1526,4,5,1970,1970,1,3,0.0,0.0,...,546,0,1092,5,0,2,2,2,2.0,1
1454,160,1936,4,7,1970,1970,1,3,0.0,0.0,...,546,0,1092,5,0,2,2,3,2.0,1
1455,160,1894,4,5,1970,1970,1,3,1.0,286.0,...,546,0,1092,6,0,2,2,2,2.0,1
1456,20,20000,5,7,1960,1996,1,4,2.0,576.0,...,0,0,1224,7,1,2,2,4,2.0,1
1457,85,10441,5,5,1992,1992,1,3,0.0,0.0,...,0,0,970,6,0,2,2,2,2.0,1
1458,60,9627,7,5,1993,1994,1,3,3.0,650.0,...,1004,0,2000,9,1,2,2,4,2.0,1

In [ ]:
# see how model is doing
forest = RandomForestRegressor(max_features=len(train_df.columns))

parameter_grid = {
    'max_depth' : [None,1,3,9],
    'min_samples_split' : [1,2,3],
    'n_estimators' : [3,10,30,100,200,400,800]
}

cross_validation = KFold(len(prices),n_folds=5)

grid_search = GridSearchCV(
    forest,
    param_grid=parameter_grid,
    cv=cross_validation
)

grid_search.fit(train_df, prices)

print('Best score: {}'.format(grid_search.best_score_))
print('Best parameters: {}'.format(grid_search.best_params_))

print(grid_search.score(train_df, prices))

In [ ]:

Condition1       1460 non-null object
Condition2       1460 non-null object
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object

Foundation       1460 non-null object

Heating          1460 non-null object

Functional       1460 non-null object

PavedDrive       1460 non-null object

SaleType         1460 non-null object
SaleCondition    1460 non-null object

In [124]:
# try features scaling with predictors

def scale_all_features(train):
    train[predictors] = train[predictors].apply(lambda\
                                           x: x/x.max(), axis=0)
    return train

In [125]:
new_train = scale_all_features(train)
new_test = scale_all_features(test)

NameError: global name 'predictors' is not defined

In [118]:
# 5-fold cross validation with the Accuracy metric
def compute_score(res, X, y, scoring='accuracy'):
    xval=cross_val_score(res, X, y, cv=5, scoring=scoring)
    return np.mean(xval)

In [119]:
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import ExtraTreesRegressor
mod = ExtraTreesRegressor(n_estimators=200)
mod = mod.fit(train[predictors], prices)

features = pd.DataFrame()
features['feature'] = train[predictors].columns
features['importance'] = mod.feature_importances_

In [125]:
features.sort_values(['importance'],ascending=False)

         feature  importance
10    GarageCars    0.264454
6       FullBath    0.163315
3      YearBuilt    0.115582
24       NridgHt    0.070915
17       NoRidge    0.054130
2        LotArea    0.038850
4   BsmtFullBath    0.030258
8   BedroomAbvGr    0.030056
1    LotFrontage    0.025975
7       HalfBath    0.024755
0     MSSubClass    0.024454
32       StoneBr    0.024010
12        MoSold    0.021145
9   KitchenAbvGr    0.018419
11        YrSold    0.018329
16       Crawfor    0.017466
33       ClearCr    0.006827
19       Somerst    0.005918
5   BsmtHalfBath    0.004441
15       Veenker    0.004119
29       Edwards    0.003791
13      PoolArea    0.003418
25         NAmes    0.003310
21       OldTown    0.002961
23        Sawyer    0.002466
31       Gilbert    0.002430
18       Mitchel    0.002411
30        Timber    0.002399
14       CollgCr    0.002399
26       SawyerW    0.002326
27        IDOTRR    0.001907
20        NWAmes    0.001571
37         SWISU    0.001486
22       BrkSide    0.001482
35       Blmngtn    0.000902
28       MeadowV    0.000544
36        BrDale    0.000435
34       NPkVill    0.000335
38       Blueste    0.000008